@import '../../sass/variables.scss';

.Main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/bg.jpeg');
    border-radius: 20px;
    border: 10px solid $black;
    background-position: top;
    background-repeat: inherit;
    background-size: cover;

    .Main__center {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;

        .Main__center__profile {
            display: inherit;
            flex-direction: column;
            justify-content: inherit;
            align-items: inherit;
            gap: 1rem;
            color: white;

            .profile__wrapper {
                border-radius: 50%;
                background-color: $blue;
                width: 130px;
                height: 130px;
                display: inherit;
                align-items: inherit;
                justify-content: inherit;
                padding: 1px;
                
                img {
                    width: 97%;
                    height: 94%;
                    border-radius: 50%;
                }
            }

            h1 + div {
                display: flex;
                gap: 1rem;
                font-weight: 600;
            }

            h2 {
                font-weight: normal;
            }
        }
    }
}