@import './sass/variables.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $font1;
}

.App {
    background-color: $black;

    h3 {
        @extend .defaultTitle; 
        color: $white;
        text-align: center;
        margin: 4rem;
    }
}
